body {
  margin: 0;
}

.sp-wrapper {
  width: 50% !important;
}

.sp-preview-iframe {
  background-color: rgb(26, 32, 43);
}

.sp-preview-actions {
  display: none;
}

.sp-cube-wrapper {
  display: none !important;
}

.custom-sandpack-wrapper,
.ch-code {
  margin: 20px 0 !important;
}

.sp-stack {
  margin-left: -8px;
}

#space-invaders-preview {
  .sp-preview-iframe {
    width: 100% !important;
  }
  .sp-preview-container {
    width: 100% !important;
  }
}
// :global {
h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}
// }
