body {
  margin: 0;
}

.sp-wrapper {
  width: 50% !important;
}

.sp-preview-iframe {
  background-color: rgb(26, 32, 43);
}

.sp-preview-actions {
  display: none;
}

.sp-cube-wrapper {
  display: none !important;
}

.custom-sandpack-wrapper {
  margin: 30px 0;
}
